<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gwu.androidtweetsspring2022">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTweetsSpring2022">


        <activity
            android:name="edu.gwu.CryptoApp.MainActivity"
            android:exported="true">
            <!-- Only one Activity in our app needs this "special" <intent-filter> tag, which indicates the "first" screen of our app to show when the app launches -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.gwu.CryptoApp.PriceTrackingActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="edu.gwu.CryptoApp.WatchlistActivity"
            android:exported="false">

        </activity>
        <activity
            android:name="edu.gwu.CryptoApp.Search"
            android:exported="false">

        </activity>

        <!-- Normally the "AIza..." key would be part of local.properties or a Strings.xml file, as
             the instructions state. Hardcoding it in this file is an easy way for me to share the key
             with everyone to make the lecture app accessible to the class. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjr0LkEJYjmZu4vYU1Ql2tZ9NLwWptdLM" />
    </application>

</manifest>